body {
  display: flex;
  align-items: center;
  margin: 190px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  width: 100vw;
  margin-bottom: 40px;
}

.title-header {
  text-align: center;
  background-color: #493843;
  color: white;
  /* background-color: #ef6461; */
  /* background-color: #00a878; */
  /* background-color: #d5a021; */
  margin: 0;
  height: 100%;
  padding: 50px 0 50px 0;
}

.legend-donut {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.home {
  display: flex;
  flex-direction: column;
}

.link-btn {
  width: 200px;
}

.card {
  width: 25%;
  margin: 10px;
}

.columnCard {
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mapPin {
  height: 25px;
}

#map {
  width: 100vw;
  height: 100vh;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.home {
  display: flex;
  align-items: center;
  margin: 20px;
}

.plaid-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 10px;
  margin: 50px;
  padding: 50px;
}

.form-card {
  margin: auto;
}

.map-container {
  margin-left: 40px;
}

.navbar-img {
  height: 40px;
  padding-right: 10px;
}
